* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --background: #282a36;
  --element-bg: #44475a;
  --gray-line: #DCDDE0;
  --text: #f8f8f2;
  --text-dark: #666666;
  --text-highlight: #B3B9FF;
  --title: #FFF;
  --red: #ee5555;
  --green: #4CD62B;
  --blue: #9DA9F4;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--text);
}

body, input, textarea, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}